<h1>Shortener</h1>

<div>
  <input type="text" placeholder="Name" [(ngModel)]="shorteningName" />
  <input type="text" placeholder="URL" [(ngModel)]="url" />
  <button (click)="onSubmit()">Shorten</button>
</div>

<div *ngIf="!shortenings.length && !loading">
  There are no shortenings. Please add some.
</div>

<ul *ngIf="shortenings.length">
  <li *ngFor="let short of shortenings" class="card">
    <b>{{ short.name }}</b>
    <button (click)="onCheckDetails(short.code)">
      View details
    </button>
    <button (click)="onDeleteShortener(short.code, short.name)">Delete</button>
  </li>
</ul>

<div class="spinner-block" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
