<h1>Shortener</h1>

<div>
  <input type="text" placeholder="Name" [(ngModel)]="shorteningName" />
  <input type="text" placeholder="URL" [(ngModel)]="url" />
  <button (click)="onSubmit()">Shorten</button>
  <input
    type="text"
    placeholder="Enter shortening name"
    [(ngModel)]="searchName"
    [disabled]="!shortenings.length && !searchFailed"
  />
  <button (click)="onSearchShortenings()" [disabled]="!searchName">
    Search
  </button>
  <button *ngIf="showCancelSearchBtn" (click)="onCancelSearch()">
    Cancel search
  </button>
</div>

<div *ngIf="!shortenings.length && !loading && !searchFailed">
  There are no shortenings yet. Please add some.
</div>

<div *ngIf="searchFailed">
  There are no shortenings with this name. Please try again or add one.
</div>

<ul *ngIf="shortenings.length">
  <li *ngFor="let short of shortenings" class="card">
    <b>{{ short.name }}</b>
    <a [routerLink]="[short.code]">
      View details
    </a>
    <button (click)="onDeleteShortener(short.code, short.name)">Delete</button>
  </li>
</ul>

<div class="spinner-block" *ngIf="loading">
  <app-spinner></app-spinner>
</div>
