<div class="details-block">
  <h1>{{ shortening.name }}</h1>
  <button (click)="deleteShortening(shortening.code, shortening.name)">
    Delete
  </button>
  <ul>
    <li>
      <p class="link-label">Original link:</p>
      <a [href]="shortening.original_link">{{ shortening.original_link }}</a>
    </li>
    <li>
      <p class="link-label">Share link:</p>
      <a [href]="shortening.full_short_link">{{ shortening.share_link }}</a>
    </li>
    <li>
      <p class="link-label">Short link:</p>
      <a [href]="shortening.full_short_link">{{ shortening.short_link }}</a>
    </li>
    <li>
      <p class="link-label">Short link #2:</p>
      <a [href]="shortening.full_short_link">{{ shortening.short_link2 }}</a>
    </li>
  </ul>
</div>
